<template>
  <SingleComponent type="drinkgroup" :stub="stub" admin-permission="ADMIN_DRINKS">
    <template #icon>
      <IBiBriefcase />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="orderNumber">
        <BFormInput id="control_id_orderNumber" v-model="post.orderNumber" />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { DrinkGroup } from '@/appframework'

function stub() {
  return {} as DrinkGroup
}
</script>
