<template>
  <SingleComponent type="drink" :stub="stub">
    <template #icon>
      <IBiCupStraw />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="shortDescription">
        <BFormInput id="control_id_shortDescription" v-model="post.shortDescription" />
      </LabelGroup>
      <LabelGroup label="longDescription">
        <BFormTextarea id="control_id_longDescription" v-model="post.longDescription" />
      </LabelGroup>
      <LabelGroup label="group">
        <Select
          v-model="post.groupId"
          option-value="id"
          option-label="name"
          :options="groups"
        ></Select>
      </LabelGroup>
      <LabelGroup label="orderNumber">
        <BFormInput id="control_id_orderNumber" v-model="post.orderNumber" />
      </LabelGroup>
      <LabelGroup label="picture">
        <BinaryDataImage
          :binary-data-id="post.pictureId"
          :upload-path="`/drink/${post.id}/upload`"
          @change="
            (binaryDataId: number | undefined) =>
              (post.pictureId = binaryDataId as unknown as number)
          "
        />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { Drink, DrinkGroup } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'
import { BFormTextarea } from 'bootstrap-vue-next'

const groups: Ref<DrinkGroup[]> = ref([])

function stub() {
  return {} as Drink
}

async function init() {
  groups.value = (await getExisting('drinkgroup')) as DrinkGroup[]
}
init()
</script>
