<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { useI18n } from 'vue-i18n'

import type { Drink, DrinkGroup } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()
const groups_lookup: Ref<Record<number, DrinkGroup>> = ref({})

function stub() {
  return {} as Drink
}

async function init() {
  const groups = (await getExisting('drinkgroup')) as DrinkGroup[]
  groups_lookup.value = {}
  for (const group of groups) {
    groups_lookup.value[group.id] = group
  }
}
init()
</script>

<template>
  <ListComponent type="drink" :stub="stub" name-column="name" :colspan-extra="2">
    <template #icon>
      <IBiCupStraw />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="orderNumber" :pager="pager" :order="order" />
      <BTh>{{ t('group') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.orderNumber }}
      </BTd>
      <BTd>
        {{ dto.groupId ? groups_lookup[dto.groupId].name : '-' }}
      </BTd>
    </template>
  </ListComponent>
</template>
