<script setup lang="ts">
import type { DrinkGroup } from '@/appframework'

function stub() {
  return {} as DrinkGroup
}
</script>

<template>
  <ListComponent
    type="drinkgroup"
    :stub="stub"
    name-column="name"
    :colspan-extra="1"
    admin-permission="ADMIN_DRINKS"
  >
    <template #icon>
      <IBiBriefcase />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="orderNumber" :pager="pager" :order="order" />
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.orderNumber }}
      </BTd>
    </template>
  </ListComponent>
</template>
