<template>
  <BAccordion free>
    <BAccordionItem :title="group.name" v-for="group of overview" :visible="openend[group.id]">
      <div class="row mb-4">
        <div
          class="col-lg-4 col-md-6 col-sm-12 mt-4"
          v-for="orderDrink of group.drinks /* | orderBy:['drink.orderNumber','drink.name'] | filter:search */"
        >
          <div class="card">
            <div style="height: 232px; overflow: hidden">
              <img
                class="card-img-top"
                :src="`/rest/binary_data/${orderDrink.drink.pictureId}`"
                :alt="orderDrink.drink.shortDescription"
                @click="showDetails(orderDrink)"
                style="cursor: pointer"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ orderDrink.drink.name }}</h5>
              <h6 class="card-text">{{ orderDrink.drink.shortDescription }}</h6>
              <BInputGroup>
                <BButton @click="decrease(orderDrink)" variant="primary" class="float-left">
                  <IBiDashCircle />
                </BButton>
                <input
                  type="number"
                  v-model="orderDrink.amount"
                  class="float-left form-control"
                  style="width: 45px"
                />
                <BButton @click="increase(orderDrink)" variant="primary" class="float-left">
                  <IBiPlusCircle />
                </BButton>
              </BInputGroup>
            </div>
          </div>
        </div>
      </div>
    </BAccordionItem>

    <BAccordionItem :visible="openend.freetext" :title="t('freetext_orders')">
      {{ freetextOrders }}
      <div class="row mb-4">
        <div
          class="col-lg-4 col-md-6 col-sm-12 mt-4"
          v-for="(freetextOrder, index) in freetextOrders"
        >
          <div class="card">
            <div class="card-body">
              <h6 class="card-text float-left">{{ freetextOrder.content }}</h6>
              <BButton
                @click="removeFreetextOrder(index)"
                variant="outline-warning"
                class="float-right"
              >
                <IBiDashCircle />
              </BButton>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
          <div class="card">
            <div class="card-body">
              <h6 class="card-text float-left">{{ t('add_freetext_order') }}</h6>
              <BButton @click="freetextOrder()" variant="outline-success" class="float-right">
                <IBiPlusCircle />
              </BButton>
            </div>
          </div>
        </div>
      </div>
    </BAccordionItem>

    <BAccordionItem :visible="openend.comment" :title="t('comment')">
      <BFormTextarea v-model="comment"></BFormTextarea>
    </BAccordionItem>
  </BAccordion>

  <BButton
    variant="success"
    size="lg"
    class="order-btn"
    @click="submit()"
    v-if="hasPermission('CREATE_ORDERS')"
    :disabled="!orderEnabled()"
  >
    {{ t('order_now') }}
  </BButton>

  <BModal
    v-model="modalFreetextVisible"
    :title="t('add_freetext_order')"
    @ok="addFreetextOrder(modalFreetextContent)"
  >
    <textarea class="form-control" v-model="modalFreetextContent"></textarea>
  </BModal>

  <BModal v-model="modalOrderDrinkVisible" :title="modalOrderDrink?.drink?.name">
    <img
      class="card-img-top"
      :src="`/rest/binary_data/${modalOrderDrink?.drink?.pictureId}`"
      :alt="modalOrderDrink?.drink?.shortDescription"
    />
    <h5 class="mt-4">{{ modalOrderDrink?.drink?.shortDescription }}</h5>
    <span>{{ modalOrderDrink?.drink?.longDescription }}</span>
    <template #footer>
      <div style="width: 100%">
        <BButton
          variant="secondary"
          class="float-start"
          @click="
            () => {
              modalOrderDrinkVisible = false
            }
          "
          >{{ t('close') }}</BButton
        >
        <BInputGroup class="float-end" style="width: 200px">
          <BButton @click="decrease(modalOrderDrink)" variant="primary" class="float-left">
            <IBiDashCircle />
          </BButton>
          <input
            type="number"
            v-if="!!modalOrderDrink"
            v-model="modalOrderDrink.amount"
            class="float-left form-control"
            style="width: 45px"
          />
          <BButton @click="increase(modalOrderDrink)" variant="primary" class="float-left">
            <IBiPlusCircle />
          </BButton>
        </BInputGroup>
      </div>
    </template>
  </BModal>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { useToast } from 'primevue/usetoast'

import type { Drink, DrinkGroup, FreetextOrder, Order } from '@/appframework'
import { getExisting, saveNew } from '@/appframework/lib/rest'
import { BFormTextarea } from 'bootstrap-vue-next'
import { hasPermission } from '@/App.vue'

const { t } = useI18n()
const toast = useToast()

interface OrderDrink {
  amount: number
  drink: Drink
}

interface DrinkGroupExtended extends DrinkGroup {
  drinks: OrderDrink[]
}

const groups: Ref<DrinkGroupExtended[]> = ref([])
const groups_lookup: Ref<Record<number, DrinkGroupExtended>> = ref({})
const basket: Ref<OrderDrink[]> = ref([])
const overview: Ref<DrinkGroupExtended[]> = ref([])
const freetextOrders: Ref<FreetextOrder[]> = ref([])
const comment = ref('')
const openend: Ref<Record<string | number, boolean>> = ref({
  freetext: false,
  comment: false
})

async function init() {
  // Load all groups and put them into a lookup cache
  groups.value = (await getExisting(
    'drinkgroup?sortColumn=orderNumber&sortColumn=name'
  )) as DrinkGroupExtended[]

  for (const group of groups.value) {
    groups_lookup.value[group.id] = group
    openend.value[group.id] = true
  }
  groups_lookup.value[-1] = {
    id: -1,
    name: t('no_group'),
    orderNumber: -1,
    drinks: [] as OrderDrink[]
  }

  // Create the overview array (groups holding their
  for (const group of groups.value) {
    overview.value.push(group)
    group.drinks = []
  }
  overview.value.push(groups_lookup.value[-1])

  const drinks = (await getExisting('drink')) as Drink[]
  for (const drink of drinks) {
    const orderDrink = {
      amount: 0,
      drink: drink
    }
    basket.value.push(orderDrink)
    let groupId = drink.groupId
    if (groupId === null) {
      groupId = -1
    }
    groups_lookup.value[groupId].drinks?.push(orderDrink)
  }

  // Remove empty groups from overview
  for (let i = overview.value.length - 1; i >= 0; i--) {
    if (overview.value[i].drinks?.length === 0) {
      overview.value.splice(i, 1)
    }
  }
}
init()

const modalOrderDrink: Ref<OrderDrink> = ref(undefined as unknown as OrderDrink)
const modalOrderDrinkVisible = ref(false)

function showDetails(orderdrink: OrderDrink) {
  modalOrderDrink.value = orderdrink
  modalOrderDrinkVisible.value = true
}

function increase(orderDrink: OrderDrink) {
  orderDrink.amount += 1
}

function decrease(orderDrink: OrderDrink) {
  orderDrink.amount -= 1
  if (orderDrink.amount < 0) {
    orderDrink.amount = 0
  }
}

function orderEnabled() {
  if (freetextOrders.value.length > 0) {
    return true
  }
  for (const orderDrink of basket.value) {
    if (orderDrink.amount > 0) {
      return true
    }
  }
  return false
}

async function submit() {
  const order = {
    id: undefined as unknown as number,
    createdBy: undefined as unknown as string,
    status: 'REQUESTED',
    orderDrinks: [],
    freetextOrders: [],
    comment: comment.value
  } as Order
  for (const orderDrink of basket.value) {
    if (orderDrink.amount > 0) {
      order.orderDrinks.push({
        id: undefined as unknown as number,
        amount: orderDrink.amount,
        drinkId: orderDrink.drink.id
      })
    }
  }
  for (const freetextOrder of freetextOrders.value) {
    order.freetextOrders.push(freetextOrder)
  }
  if (order.orderDrinks.length == 0 && order.freetextOrders.length == 0) {
    toast.add({
      severity: 'warn',
      summary: t('order_was_empty'),
      life: 5000,
      closable: false
    })
    return
  }
  await saveNew('order', order)
  for (const orderDrink of basket.value) {
    orderDrink.amount = 0
  }
  freetextOrders.value.length = 0
  comment.value = ''
  toast.add({
    severity: 'success',
    summary: t('order_successfull'),
    life: 5000
  })
}

const modalFreetextVisible = ref(false)
const modalFreetextContent = ref('')

function freetextOrder() {
  modalFreetextContent.value = ''
  modalFreetextVisible.value = true
}

function addFreetextOrder(content: string) {
  console.log(content)
  freetextOrders.value.push({ content: content })
}

function removeFreetextOrder(index: number) {
  /*var btn = angular.element($event.currentTarget)
  if (btn.hasClass('btn-outline-danger')) {
    vm.freetextOrders.splice(index, 1)
  } else {
    btn.removeClass('btn-outline-warning')
    btn.addClass('btn-outline-danger')
    btn.html($translate.instant('remove'))
  }*/
}
</script>
