<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { useI18n } from 'vue-i18n'

import type { Drink, Order } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()

const drink_lookup: Ref<Record<number, Drink>> = ref({})

function stub() {
  return {} as Order
}

async function init() {
  const drinks = (await getExisting('drink')) as Drink[]
  for (const drink of drinks) {
    drink_lookup.value[drink.id] = drink
  }
}
init()
</script>

<template>
  <ListComponent type="order" :stub="stub" name-column="id" :colspan-extra="3">
    <template #icon> <IBiCart /> </template>
    <template #header-extra>
      <BTh>{{ t('order_details') }}</BTh>
      <BTh>{{ t('ordered_by') }}</BTh>
      <BTh>{{ t('order_status') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <span v-if="!!dto.orderDrinks">
          <span v-for="orderDrink in dto.orderDrinks" :key="orderDrink.id" class="orderDrinkEntry">
            {{ orderDrink.amount }}x
            {{ drink_lookup[orderDrink.drinkId]?.name || orderDrink.drinkId }}
          </span>
        </span>
        <div
          v-for="(freetextOrder, index) in dto.freetextOrders"
          :key="index"
          class="orderDrinkEntry"
        >
          {{ freetextOrder.content }}
        </div>
        {{ dto.comment }}
      </BTd>
      <BTd>{{ dto.createdBy }}</BTd>
      <BTd>{{ dto.status }}</BTd>
    </template>
  </ListComponent>
</template>

<style>
.orderDrinkEntry:after {
  content: ', ';
}
.orderDrinkEntry:last-child:after {
  content: '';
}
</style>
