<div class="modal-header">
	<h3 class="modal-title" ng-bind="vm.orderdrink.drink.name"></h3>
</div>
<div class="modal-body">
	<img class="card-img-top"
		http-src="rest/binary_data/{{vm.orderdrink.drink.pictureId}}"> <span
		ng-bind-html="vm.orderdrink.drink.longDescription"></span>
</div>
<div class="modal-footer">
	<div class="control-content" style="width: 100%">
		<button class="btn btn-secondary float-left" ng-click="vm.close()"
			translate="close"></button>
		<div class="float-right">
			<button ng-click="vm.parent.decrease(vm.orderdrink)"
				class="btn btn-primary float-left">
				<i class="fa fa-minus-circle"></i>
			</button>
			<input type="text" ng-model="vm.orderdrink.amount"
				class="float-left form-control" style="width: 45px"></input>
			<button ng-click="vm.parent.increase(vm.orderdrink)"
				class="btn btn-primary float-left">
				<i class="fa fa-plus-circle"></i>
			</button>
		</div>
	</div>
</div>