@import '../appframework/css/appframework.css';

.order-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media (min-width: 992px) {
  .order-btn {
    right: 30px;
    bottom: 30px;
  }
}

.modal-overview .modal-dialog {
  max-width: 800px;
}
